<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" href="./Assets/admin.ico" type="image/x-icon">
  <title>Admin-Dashboard</title>
  <link rel="stylesheet" href="./admin/adminCss/admin.css" />
  <script defer src="./admin/adminJs/admin.js"></script>
</head>

<body>
  <div class="container">
    <div class="innerContainer">
      <div class="headingContainer">
        <h1>Add User</h1>
      </div>
      <div class="formContainer">
        <form action="/admin-dashboard" method="get" id="addUserForm">
          <div class="inputContainer">
            <input type="text" name="addUsername" id="addUsername" placeholder="Username" autocomplete="off" />
          </div>
          <div class="inputContainer">
            <input type="date" name="addUserDob" id="addUserDob" placeholder="Date of Birth" autocomplete="off" />
          </div>
          <div class="inputContainer">
            <input type="password" name="addUserPassword" id="addUserPassword" placeholder="Password"
              autocomplete="off">
            <input type="password" id="confirmPassword" placeholder="Confirm password" autocomplete="off">
          </div>
          <div class="inputContainer">
            <input type="text" name="addUserID" id="addUserId" placeholder="Id" autocomplete="off" required>
          </div>
          <div class="inputContainer">
            <button id="addUserButton">Add</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</body>

</html>