<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View/Get Attendance</title>
    <link rel="stylesheet" href="../public/headCss/head3.css">
    <script defer src="../public/headJs/head3.js"></script>
</head>

<body>
    <nav class="navbar">
        <div class="leftContainer">
            <img src="../public/Assets/head.svg" alt="head" draggable="false">
            <div class="box">
                <div class="boxCont">
                    <span>name: Karan</span>
                </div>
                <div class="boxCont">
                    <span>id: 893495</span>
                </div>
                <div class="boxCont">
                    <span>date: 2023-02-02</span>
                </div>
            </div>
        </div>
        <ul>
            <li id="viewBtn">View</li>
            <li id="getBtn">Get</li>
        </ul>
    </nav>
    <div class="attendanceTableContainer" id="tableContainer">
        <table id="table">
            <tr>
                <th>S.No.</th>
                <th>Name</th>
                <th>Id</th>
                <th>Attendance</th>
            </tr>
        </table>
    </div>
</body>

</html>