<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Start Attendance Session</title>
    <link rel="stylesheet" href="../public/headCss/head.css">
    <script defer src="../public/headJs/head.js"></script>
</head>

<body>
    <div class="mainContainer">
        <div class="startSessionCont">
            <div class="innerCont">
                <div class="topHead">
                    <img src="../public/Assets/login-user.svg" alt="" draggable="false">
                    <h1>Login</h1>
                </div>
                <form action="#" method="get">
                    <div class="midLayer">
                        <input type="text" class="input" id="userName" placeholder="UserName" autocomplete="off">
                        <input type="datetime-local" class="input" id="dateTime" autocomplete="off">
                        <div class="passwordCont">
                            <input type="password" class="input" id="userId" placeholder="Password/Id"
                                autocomplete="off">
                            <input type="checkbox" class="input" id="ShowPassword">
                            <div class="tootipCont">
                                <span>show password</span>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="button">
                    <button id="startSessionBtn">
                        <span>Start Session</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>