<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" href="./Assets/headSession.ico" type="image/x-icon">
  <title>Head-Session</title>
  <link rel="stylesheet" href="./head/headCss/headSession.css" />
  <script defer src="./head/headJs/headSession.js"></script>
</head>

<body>
  <% if (data.stdCount) {%>
    <div class="codeContainer">
      <div class="codeBox">
        <span id="codeSpan">
          <%= code%>
        </span>
      </div>
      <div id="copyCodeBtn">
        <img src="./Assets/copyText.svg" alt="copy">
      </div>
    </div>
    <% } %>
      <div class="container">
        <div class="innerContainer">
          <div class="imgContainer">
            <img src="./Assets/head.svg" alt="head" />
            <span>Welcome <%=data.name%> [ Id: <%=data.t_id%> ]</span>
          </div>
          <div class="headingContainer">
            <h1>Start Session</h1>
          </div>
          <div class="formContainer">
            <form action="/head-start-session" method="get" id="getCodeForm">
              <div class="inputContainer">
                <input type="number" name="stdCount" id="stdCount" placeholder="Number of students" required />
              </div>
              <div class="btnContainer">
                <input type="submit" value="Get Code" id="getCodeBtn" />
              </div>
            </form>
          </div>
        </div>
      </div>
</body>

</html>