<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../public/Assets/stdLogin.ico" type="image/x-icon">
    <title>Student Login</title>
    <link rel="stylesheet" href="../public/studentCss/student.css">
    <script defer src="../public/studentJs/student.js"></script>
</head>

<body>
    <nav class="NavBar" style="background-color: #1C82AD;">
        <div class="imgCont">
            <div>
                <img src="../public/Assets/login-user.svg" draggable="false" alt="">
            </div>
        </div>
        <div class="headingCont">
            <div class="heading">
                <h1>Student Login</h1>
            </div>
        </div>
    </nav>
    <form action="#" method="get">
        <div class="inputContainer">
            <div>
                <label for="stdName" id="stdNameLabel">Student Name* </label>
                <input type="text" name="studentName" id="stdName" autocomplete="off" required>
            </div>
        </div>
        <div class="inputContainer">
            <div>
                <label for="stdId" id="stdIdLabel">Student Id* </label>
                <input type="text" name="studentId" id="stdId" autocomplete="off" required>
                <div class="desc">
                    <p>this is your roll number</p>
                </div>
            </div>
        </div>
        <div class="inputContainer">
            <div>
                <label for="code" id="codeLabel">Code* </label>
                <input type="number" name="code" id="code" autocomplete="off" required>
                <div class="desc">
                    <p>enter the code given by your teacher</p>
                </div>
            </div>
        </div>
        <div class="inputContainer">
            <div>
                <label for="stdPass" id="stdPassLabel">password* </label>
                <input type="password" name="studentPassword" id="stdPass" autocomplete="off" required>
            </div>
        </div>
        <div class="inputContainer">
            <button style="background-color: #1C82AD; border-color: #1C82AD;">
                <span>mark me Present</span>
            </button>
        </div>
    </form>
    <div class="tagName"></div>
</body>

</html>