<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="./Assets/stdApp.ico" type="image/x-icon">
    <title>Student App</title>
    <link rel="stylesheet" href="./studentCss/student.css">
</head>

<body>
    <nav class="NavBar" style="background-color: #6C00FF;">
        <div class="imgCont">
            <div>
                <img src="./Assets/login-user.svg" draggable="false" alt="">
            </div>
        </div>
        <div class="headingCont">
            <div class="heading">
                <h1>Student App</h1>
            </div>
        </div>
    </nav>
    <div class="line">
        <h4>Here is your attendance...</h4>
        <h5>If you have any problem please contact your teacher.</h5>
    </div>
    <div class="tagName"></div>
</body>

</html>