.alertBox {
    position: absolute;
    width: 100%;
    height: fit-content;
    display: none;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

.alertBox .innerBox {
    padding: 5px 4px;
    border-radius: 5px;
    transition: all 0.7s;
    animation: slideDown 0.7s linear;
}

@keyframes slideDown {
    from {
        transform: translateY(-50px);
    }

    to {
        transform: translateY(0px);
    }
}

.alertBox .innerBox span {
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1em;
    font-weight: 500;
    text-transform: capitalize;
}

#mainContainer2 {
    flex-direction: column;
}

#innerContainer2 {
    background-color: #D61355;
    box-shadow: 0 0 9px #D61355;
}

#h1Tag2 {
    color: #FCE22A;
}

#numberOfStudents {
    background-color: #F99417;
    border: 1px solid #F99417;
}

#numberOfStudents::-webkit-outer-spin-button,
#numberOfStudents::-webkit-inner-spin-button {
    display: none;
    margin: 0;
}

#getCodeBtn {
    background-color: #FCE22A;
    border: 2px solid #FCE22A;
}

#btnSpan2 {
    color: #400E32;
}

.showCodeContainer {
    background-color: #F99417;
    border: 2px solid #F99417;
    box-shadow: 0 0 7px #F99417;
    position: relative;
    border-radius: 6px;
    padding: 4px 6px;
    margin: 8px 0;
    display: none;
    align-items: center;
    justify-content: center;
    transition: all 0.7s;
    animation: showCode 0.7s linear;
    opacity: 1;
    width: auto;
}

@keyframes showCode {
    from {
        opacity: 0;
        transform: translateY(-50px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

.showCodeContainer div {
    padding: 2px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.showCodeContainer div img {
    width: 30px;
    padding: 2px;
    margin: 0 1px;
    cursor: pointer;
}

.showCodeContainer div span {
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
    font-weight: 900;
}

#toolTip::before {
    content: '';
    position: absolute;
    right: 8%;
    top: -6px;
    width: 10px;
    height: 10px;
    border-radius: 2px;
    background-color: rgb(0, 0, 0);
    border-top: 2px solid rgb(0, 0, 0);
    border-left: 2px solid rgb(0, 0, 0);
    transform: rotateZ(-45deg);
}

#toolTip {
    text-transform: capitalize;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 0.89em;
    font-weight: 600;
    background-color: black;
    padding: 5px 6px 7px;
    border: 2px solid black;
    border-radius: 5px;
    color: white;
    position: absolute;
    width: fit-content;
    visibility: hidden;
    opacity: 0;
    transition: all 0.25s;
    margin-top: 38%;
    margin-left: 28%;
}

.showCodeContainer:hover #toolTip {
    visibility: visible;
    opacity: 1;
}